<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse " id="first" [ngClass]="{'in':isIn }">
      <ul class="nav navbar-nav navbar-right " >
            <li ><a routerLink = "menu" class="nav-item " id="menu" routerLinkActive = "active">MENU</a></li>
            <li><a routerLink = "login" class="nav-item " routerLinkActive = "active">SIGN IN</a></li>
            <li><a routerLink = "register" class="nav-item" routerLinkActive = "active">REGISTER</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid text-center" id="headerdiv">
    <div class="row content ">
      <div class="col-sm-4">
       <a routerLink=""> <img id="logo" src = "http://3.bp.blogspot.com/_7yB-eeGviiI/TMxCxT97T8I/AAAAAAAACmA/Pyejw46kLIg/s1600/burger+king+logo.jpg" /> </a>
      </div>
      <div class="col-sm-4" style="padding-top:   20px;">

    	 <input type="text" class = "form-control" placeholder="Enter your zip code" id="zip" ng-model="zip" />
      </div>
      <div class="col-sm-1" style="padding-top:   20px;">
       <button class="btn btn-default" id="submit" > <i class="glyphicon glyphicon-chevron-right"></i></button>

      </div>
      <div class="col-sm-1" >
        <p id="bag" style="font-size:   20px; color:white; "> YOUR <span style="color:yellow; font-size:   30px;">BAG</span></p>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
